/* color palette from <https://github.com/vuejs/theme> */
body {
  background-color: #061C23;
  font-family: helvetica, sans-serif;
  color: #FFF;
  padding: 2rem;
}

div.form-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0
}

div.form-container input, div.form-container select {
  height: 30px;
  padding: 2px;
}

.disclaimer {
  font-size: 0.8rem;
}

.copyright {
  font-size: 0.7rem;
  text-align: center;
  color: #AAA;
}

/* --- RESULTS --- */
div.results {
  text-align: center;
  margin-top: 5rem;
}


/* Disable arrow on number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}